@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <h2>About Us</h2>
    <p>
        Welcome to our Book Library! We are dedicated to providing a curated collection of books for all book lovers. Our mission is to create a space where you can explore and enjoy a diverse range of literary works.
    </p>

    <p>
        At Book Library, our focus is on providing an extensive catalog of books for you to browse and discover. Whether you're a fiction fanatic, history buff, or science fiction enthusiast, we've got something for everyone.
    </p>

    <p>
        We believe in the power of literature to inspire, entertain, and broaden perspectives. Our team is passionate about fostering a reading community and helping you find your next great read.
    </p>

    <p>
        Thank you for being a part of our Book Library community. If you have any feedback, suggestions, or questions, we would love to hear from you. Feel free to reach out to us at <a href="mailto:nukritskvitaia@gmail.com">nukritskvitaia@gmail.com</a>.
    </p>
</div>